<!DOCTYPE html>
<html lang="en">
<%- include('common/head.ejs') %>
<body>
  <%- include('common/header.ejs') %>
  <main class="p-3 mx-auto">
    <div class="mb-3">
      <label class="form-label text-muted">Title</label>
      <input id="title" class="input form-control" type="text" 
      maxlength="30" autocomplete="off" value="<%= blog.BlogTitle %>">
    </div>
    <div class="mb-3">
      <label class="form-label text-muted">Blog</label>
      <textarea id="text" class="input form-control" style="resize: none;" 
      rows="6" autocomplete="off"><%= blog.BlogText %></textarea>
    </div>
    <!-- simple keyboard -->
    <div class="mb-3">
      <div class="simple-keyboard" style="overflow: visible !important;"></div>
    </div>
    <!-- word bank -->
    <div class="mb-3">
      <div class="card">
        <div id="wordbank-header" class="bg-opacity-10 card-header" style="transition: 0.2s all;">
          <div class="row">
            <div class="col d-flex align-items-center text-danger" id='wordbank-delmode'></div>
            <div class="col d-flex align-items-center justify-content-center">
              Word Bank
            </div>
            <div class="col d-flex align-items-center justify-content-end">
              <label class="me-2" for="del">
                <small>Delete Mode</small>
              </label>
              <div class="form-check form-switch">
                <input id="del" class="form-check-input toggle" type="checkbox" role="switch">
              </div>
            </div>
          </div>
        </div>
        <div class="p-2">
          <div class="text-center mt-1 mb-1" id="words" style="min-height: 46px;">
            <span id='empty-msg' class="text-black-50" style="display: none;">The word bank is empty</span>
          </div>
          <div class="input-group">
            <input id="new-word" class="input form-control" type="text" 
            placeholder="Add a word or phrase to the word bank" autocomplete="off">
            <button type="button" class="btn accent">
              <i class="bi bi-plus-circle-fill"></i> Add to word bank
            </button>
          </div>
        </div>
        <!--button id="clear" type="button" class="btn btn-danger" style='width:100%;'>Clear Word Bank</button-->
      </div>
    </div>
    <!-- delete, save, cancel buttons -->
    <div class="mb-3 d-flex align-items-center">
      <button type="button" class="btn black shadow btn-width me-2" data-toggle="modal" data-target="#deleteModal">
        <i class="bi bi-trash-fill"></i> Delete blog
      </button>
      <button type="button" class="btn black shadow btn-width me-2" data-toggle="modal" data-target="#closeModal">
        Close editor
      </button>
      <button type="button" class="btn black shadow btn-width" data-toggle="modal" data-target="#saveModal">
        Save changes
      </button>
    </div>
    <div id="save-msg" class="notification text-center">
      Changes saved ✅
      <span class="notification-load"></span>
    </div>
    <!-- Confirm save modal -->
    <div class="modal fade" id="saveModal" data-backdrop="static">
      <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content" style="border: none;">
          <div class="p-3">
            <h5>Confirm save</h5>
            Are you sure you want to save changes?
          </div>
          <div class="p-2 d-flex justify-content-end modal-footer">
            <button type="button" class="btn black" data-dismiss="modal" id="save">Save changes</button>
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
          </div>
        </div>
      </div>
    </div>
    <!-- Confirm close modal -->
    <div class="modal fade" id="closeModal" data-backdrop="static">
      <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content" style="border: none;">
          <div class="p-3">
            <h5>Confirm close</h5>
            Are you sure you want to close the editor?<br>* Closing the editor will discard any unsaved changes.
          </div>
          <div class="p-2 d-flex justify-content-end modal-footer">
            <a href="/"><button type="button" class="btn black">Close editor</button></a>
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
          </div>
        </div>
      </div>
    </div>
    <!-- Confirm delete modal -->
    <div class="modal fade" id="deleteModal" data-backdrop="static">
      <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content" style="border: none;">
          <div class="p-3">
            <h5>Confirm delete</h5>
            Are you sure you want to delete this blog?<br>* This action cannot be undone.
          </div>
          <div class="p-2 d-flex justify-content-end modal-footer">
            <button type="button" class="btn btn-danger" data-dismiss="modal" id="delete">Delete blog</button>
            <button type="button" class="btn btn-secondary me-1" data-dismiss="modal">Cancel</button>
          </div>
        </div>
      </div>
    </div>
  </main>
  <%- include('common/footer.ejs') %>
</body>
<script>
$('#home-link').attr({ 'data-toggle': 'modal', 'data-target': '#closeModal' })

$('#save').click(async function () {
  const title = $("#title").val().trim() || `My Blog`
  $("#title").val(title)
  const text = $("#text").val()

  await $.post(window.location.href, { title: title, text: text })

  notify('#save-msg')
})

$('#delete').click(async function () {
  await $.ajax({ url: window.location.href, type: 'DELETE' })
  redirectRel('/')
})
</script>
<script src="https://cdn.jsdelivr.net/npm/simple-keyboard@latest/build/index.js"></script>
<script src="/scripts/kb.js"></script>
</html>