<!DOCTYPE html>
<html lang="en">
<%- include('common/head.ejs') %>
<body>
  <%- include('common/header.ejs') %>
  <main class="p-3 mx-auto">
    <div class="list-group mb-3">
      <% blogs.forEach(blog => { %>
      <div class="list-group-item d-flex justify-content-between p-3">
        <%= blog.BlogTitle %>
        <div class="d-flex gap-3 align-items-center">
          <div class="form-check form-switch">
            <small class="ms-2">Publish</small>
            <input class="form-check-input toggle publish" type="checkbox" role="switch"
            data-blog-id="<%= blog.BlogID %>" <%= blog.Published ? 'checked' : null %>>
          </div>
          <button class="btn view-link badge btn-badge rounded-pill accent" 
          data-blog-id="<%= blog.BlogID %>" <%= !blog.Published ? 'disabled' : null %> 
          onclick="redirectRel('/public/<%= blog.BlogID %>')">View</button>
          <button class="btn badge btn-badge rounded-pill accent"
          onclick="redirectRel('/editor/<%= blog.BlogID %>')">Edit</button>
        </div>
      </div>
      <% }) %>
    </div>
    <button class="btn black shadow btn-width" id="new-blog">Add new blog</button>
  </main>
  <%- include('common/footer.ejs') %>
</body>
<script>
$(".publish").click(async function () {
  const id = $(this).attr('data-blog-id')
  const checked = $(this).is(':checked')
  await $.post('publish', { id: id, published: Number(checked) })
  $(`.view-link[data-blog-id=${id}]`).attr('disabled', !checked)
})
$('#new-blog').click(async function () {
  await $.post('new')
  location.reload()
})
</script>
</html>